body 
{
    background: url(https://github.com/ibrahimouachem/Royal-Burger/blob/master/CSS/bg.png?raw=true);
}
.site
{
    font-family: 'Holtwood One SC', sans-serif;
}
.text-logo
{
    font-family: 'Holtwood One SC', sans-serif;
    color: #e7480f;
    text-shadow: 2px 2px #ffd301;
    font-size: 50px;
    padding: 40px 0px;
    text-align: center;
}
.text-logo .glyphicon 
{
    color: #ffd301;
    text-shadow: 0px 0px #ffd301;
}
.nav
{
   margin-bottom: 40px;
}
.thumbnail img
{
    background: url(https://github.com/ibrahimouachem/Royal-Burger/blob/master/CSS/bg.png?raw=true);;
}
.price {
  position: absolute;
  top: 90px;                 /* ajustado respecto a la imagen */
  right: 10px;
  background: #5cb85c;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 5px;
  z-index: 2;
  text-shadow: 1px 1px #333;
}

.price::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 0px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #4a934a;
}


.price::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 0px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #4a934a;
}

.caption > h1
{
    color: #e7480f;
    font-size: 18px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
    background: #e7480f;
}
.nav>li>a:focus, .nav>li>a:hover 
{
    color: #e7480f;
    background-color: #eee;
}
.nav>li>a
{
    color: #eee;
    font-size: 18px;
    text-shadow: 2px 2px #333;
}
.btn-order {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #e7480f;
  text-shadow: 1px 1px #333;
  border-radius: 5px;
}


.btn-order:hover, .btn-order:focus
{
    color: #fff;
    background-color: #c13c0d;
}

/*  ADMIN */

.admin
{
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}
.help-inline
{
    color: red;
}

.menu.thumbnail {
  position: relative;
  height: 500px;           /* Altura total uniforme */
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 6px;
  overflow: hidden;
}


.menu.thumbnail h3,
.menu.thumbnail h5,
.menu.thumbnail h4,
.menu.thumbnail button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.menu-item {
  transition: all 0.3s ease-in-out;
}
.menu.thumbnail img {
  width: 100%;
  height: 220px; /*Altura fija */
  object-fit: cover; /* ← Esto hace que la imagen se recorte sin deformarse */
  border-radius: 4px;
  margin-bottom: 10px;
}
.menu.thumbnail h3 {
  font-size: 20px;
  height: 50px;               /* espacio reservado */
  line-height: 1.2;
  margin-bottom: 10px;
  overflow: hidden;
}

.menu.thumbnail h5 {
  font-size: 14px;
  height: 60px;               /* espacio fijo para la descripción */
  overflow: hidden;
  text-transform: uppercase;
  margin: 10px 0;
}
